{% extends 'base.html.twig' %}

{% block title %}
    {{ event.name }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">{{ event.name }}</h1>

        <div class="col-lg-6 mx-auto">
            {{ event.description|nl2br }}
        </div>
    </div>

    <h2 class="text-center">{{ 'event.schedule'|trans }}</h2>
    <div class="row">
        {% for day in event.days %}
            <div class="col">
                <h3 class="text-center">
                    {{ day.date|format_datetime('medium', 'none') }}
                </h3>
                <div class="row">
                    {% for floor in event.floorsForPublicView(day) %}
                        <div class="col">
                            <h4 class="text-center">{{ floor.name }}</h4>
                            <div class="row">
                                {% for room in event.roomsForPublicView(floor, day) %}
                                    <div class="col">
                                        <h5 class="text-center">{{ room.name }}</h5>

                                        {% for time_slot in event.roomSlotsForPublicView(room, day) %}

                                            {% if time_slot.hasAcceptedActivity %}
                                                {% set scheduled_activity = time_slot.acceptedActivity %}

                                                {% set activity = scheduled_activity.activity %}
                                                <section class="activity card border-success mb-3">
                                                    <div class="card-body">
                                                        <h6 class="activity-title">
                                                            <span class="fw-bold">
                                                                {{ activity.name }}
                                                            </span>
                                                            <small class="text-secondary float-end">
                                                                {{ scheduled_activity.startsAt|format_datetime('none', 'short') }}
                                                                - {{ scheduled_activity.endsAt|format_datetime('none', 'short') }}
                                                            </small>
                                                        </h6>
                                                        {{ activity.description|nl2br }}
                                                        {% set is_user_registered = app.user ? is_user_registered_to_activity(app.user, scheduled_activity) : false %}
                                                        {% if event.allowAttendeeRegistration and (not app.user or (app.user and not is_user_registered)) %}
                                                            <div>
                                                                <a href="{{ path('register_to_activity', {id: scheduled_activity.id}) }}" class="btn btn-sm btn-link float-end">
                                                                    <i class="fa fa-arrow-right"></i>
                                                                    {{ 'event.activity.register_as_attendee'|trans }}
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                        {% if is_user_registered %}
                                                            <div>
                                                                <small class="text-success">
                                                                    <i class="fa fa-check"></i>
                                                                    {{ 'event.activity.you_are_registered'|trans }}
                                                                </small>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </section>
                                            {% else %}
                                                <section class="activity card mb-3">
                                                    <div class="card-body">
                                                        <h6>
                                                            &nbsp;
                                                            <small class="text-secondary float-end">
                                                                {{ time_slot.startsAt|format_datetime('none', 'short') }}
                                                                - {{ time_slot.endsAt|format_datetime('none', 'short') }}
                                                            </small>
                                                        </h6>
                                                        <em class="text-secondary">{{ 'event.activity.open_slot'|trans }}</em>
                                                        {% if event.allowActivityRegistration %}
                                                            <div>
                                                                <a href="#" class="btn btn-sm btn-link float-end">
                                                                    <i class="fa fa-arrow-right"></i>
                                                                    {{ 'event.activity.register_as_animator'|trans }}
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </section>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
