{% extends 'admin/admin_minimal.html.twig' %}

{% form_theme requestForm '@EasyAdmin/symfony-form-themes/bootstrap_5_layout.html.twig' %}

{% block page_title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>{{ 'forgot_password.request.title'|trans }}</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                {{ 'forgot_password.request.help'|trans }}
            </small>
        </div>

        <button class="btn btn-primary mt-3">
            {{ 'password_reset.submit'|trans }}
        </button>
    {{ form_end(requestForm) }}
{% endblock %}
