{% if field.customOption('editInPlace') %}
    {% set unique_id =
        (entity.fqcn|replace({'\\': '-'}))
        ~ '-' ~ (field.property)
        ~ '-' ~ entity.primaryKeyValue
    %}
    <div class="d-flex flex-row">
        <div class="px-2">
            <button class="btn btn-link p-0" data-edit-in-place-toggle="{{ unique_id }}">
                <i class="fa fa-pencil"></i>
            </button>
        </div>
        <div>
            <div data-edit-field="{{ unique_id }}">
                {{ include('@EasyAdmin/crud/field/number.html.twig') }}
            </div>
            <div style="display: none" data-edit-form="{{ unique_id }}">
                {% set field_form = create_field_form(ea, entity, field) %}
                {% set field_form_view = field_form.createView %}
                {% form_theme field_form_view with ea.crud.formThemes only %}
                {{ form_start(field_form_view) }}
                {{ form_errors(field_form_view) }}
                {{ form_widget(field_form_view) }}
                <button class="btn btn-primary mt-1" data-edit-in-place-toggle-submit>
                    {{ 'action.save'|trans({}, 'EasyAdminBundle') }}
                </button>
                {{ form_end(field_form_view) }}
                <div data-edit-message="{{ unique_id }}"></div>
            </div>
        </div>
        {#<pre>{{ field_form_view.vars['action'] }}</pre>#}
        {#{{ dump() }}#}
    </div>
{% endif %}
