{% if field.customOption('editInPlace') %}
    {% set unique_id =
        (entity.fqcn|replace({'\\': '-'}))
        ~ '-' ~ (field.property)
        ~ '-' ~ entity.primaryKeyValue
    %}
    <div class="d-flex flex-row">
        <div class="px-2">
            <button class="btn btn-link p-0" data-edit-in-place-toggle="{{ unique_id }}">
                <i class="fa fa-pencil"></i>
            </button>
        </div>
        <div>
            <div data-edit-field="{{ unique_id }}">
                {% set internal_field = field.customOption('internalField') %}
                {% if internal_field.asDto.templatePath %}
                    {% set template_path = internal_field.asDto.templatePath|default(internal_field.asDto.templateName) %}
                {% else %}
                    {% set template_path = ea.context.templatePath(internal_field.asDto.templateName) %}
                {% endif %}
                {{ include(template_path, { field: internal_field.asDto, entity: entity }, with_context = false) }}
            </div>
            <div style="display: none" data-edit-form="{{ unique_id }}">
                {% set field_form = create_field_form(ea, entity, field) %}
                {% set field_form_view = field_form.createView %}
                {% form_theme field_form_view with ea.crud.formThemes only %}
                {{ form_start(field_form_view) }}
                {{ form_errors(field_form_view) }}
                {{ form_widget(field_form_view) }}
                {{ form_rest(field_form_view) }}
                <input type="hidden" name="_token" value="{{ csrf_token('editInPlace') }}">
                <button class="btn btn-primary mt-1" data-edit-in-place-toggle-submit>
                    {{ 'action.save'|trans({}, 'EasyAdminBundle') }}
                </button>
                {{ form_end(field_form_view) }}
                <div data-edit-message="{{ unique_id }}"></div>
            </div>
        </div>
    </div>
{% endif %}
